@import "tailwindcss";

body {
  /* @apply bg-zinc-800 text-white; */
  background-image: linear-gradient(to left, rgb(56, 54, 54) 0%, black 100%);
  color: white; 
}

/* Invisible Scrollbar Utility Class */
.invisible-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
