@import "tailwindcss";

body {
  /* @apply bg-zinc-800 text-white;
  /* background-image: linear-gradient(to left, rgb(56, 54, 54) 0%, black 100%); */
  /* color: black;  */ 
}


* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

* {
  scrollbar-width: none; 
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}
